* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #0f0f1e;
    color: #fff;
    font-size: 16px;


}

header {
    position: absolute;
    width: 90vw;
    /*tamanho da tela */
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    /* separa os ites  */
    align-items: center;
    z-index: 3;
    /*deixa e imagem na frente da tela */
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    /* grossura da font */
    color: #00f7ff;
    text-shadow: 0 0 10px rgb(0, 247, 255, 0.5);
    /* deixa a letra esfumaçada */
}

header nav ul {
    display: flex;
    gap: 48px;

}

header nav ul li {
    cursor: pointer;
    position: relative;
    /* ele facilita ulguns posicionamento*/
    padding: 5px 0;
}

header nav ul li::after {
    /*faz o efeito embaixo das letras */
    content: '';
    position: absolute;
    /* ele facilita colocar o item aonde eu quiser */
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    transition: width 0.2s ease;
    /* efeito embaixo da letra */
}

header nav ul li:hover::after {
    width: 100%;
}

.container {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%);
    overflow: hidden;
}

.container::before {
    content: '';

    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0) 70%);
    position: absolute;
    /* para centralizar  */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    /* deixar esfumaçado */
    z-index: 1;
    animation: pulse 4s infinite alternate;
    /* efeito de aumentar e diminuir  */
}


@keyframes pulse {

    /* animaçao */
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
}


.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    /* colocar todos os lados 0 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    /* ANIMAÇAO */

    transform: translateX(100vw);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;

}

.active {
    opacity: 1;
    transform: translateX(0);
}

.product-img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.product-img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));
    /* e  efeito que fica em volta do item */

    /* ANIMAÇAO */
    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.5s;
}

.active .product-img img {
    transform: translateX(0);
    opacity: 1;
}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

.product-tag {
    font-size: 1rem;
    text-transform: uppercase;
    /* deixa todos em letras maiúsculas */
    color: #00f7ff;
    font-weight: 600;
    /* deixa a letra mais grossa */
    letter-spacing: 2px;
    /* espaçamento da letra */
    margin-bottom: 5px;

}

.product-name {
    font-size: 4.5rem;
    font-family: "Orbitron", sans-serif;
    line-height: 1.1;
    /* tamanho da linha */
    margin-bottom: 20px;

    /* ANIMAÇAO */
    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.5s;
}

.active .product-name {
    transform: translateX(0);
    opacity: 1;
}


.description {
    font-size: 1.1rem;
    color: #b8b8d0;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;

    /* ANIMAÇAO */
    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.8s;
}

.active .description {
    transform: translateX(0);
    opacity: 1;
}

.btn {
    padding: 12px 16px;
    background: linear-gradient(90deg, #00f7ff, #0066ff);
    border-radius: 30px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn:hover {
    color: #fff;
}

.arrow {
    /* As setas */
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* deixa a seta uma para cada lado */
    top: 50%;
    /* deixa as setas no centro */
    left: 50%;
    /* deixa as setas no centro */
    transform: translate(-50%, -50%);
    z-index: 5;

}

.arrow-btn {
    /* Tamanho da setas */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(225, 225, 225, 0.1);
    border: 1px solid rgba(0, 247, 255, 0.3);
}

.arrow-btn:hover {
    background-color: rgba(0, 247, 225, 0.2);
    border-color: #fff;
}

.indicaitors {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: rgba(225, 225, 225, 0.2);

}

.dots {
    display: flex;
    gap: 10px;

}

.dot {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 225, 0.2);
    border-radius: 2px;
}

.dot.active {
    background-color: #00f7ff;
    box-shadow: 0 0 10px rgba(0, 247, 225, 0.5);
}

.tech-circle {
    /* círculo na tela */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0, 247, 255, 0.3);
}

.circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
}

.circle:nth-child(2) {
    width: 300px;
    height: 300px;
    top: 60%;
    left: 80%;
}


.circle:nth-child(3) {
    width: 150px;
    height: 150px;
    top: 70%;
    left: 20%;
}


.circle:nth-child(4) {
    width: 100px;
    height: 100px;
    top: 20%;
    left: 78%;
}


/* ///// FOOTER ///   */



.interface {
    max-width: 1280px;
    margin: 0 auto;
}

footer {
    padding: 20px 0;
}

footer .line-footer1 {
    text-align: center;
    border-bottom: 1px solid #fff;
    /* linha  */
    padding-bottom: 40px;
    /* altura da linha  */
}

.line-footer1 h2 {
    font-size: 2.5rem;
    font-family: "Orbitron", sans-serif;
    color:#00f7ff;
}

.line-footer1 p {
    font-size: 1.4rem;
    margin: 10px 0 20px 0;
    /* margem encima e embaixo */
    color: #b8b8d0;
}

.line-footer1 form input[type=email] {
    width: 300px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    outline: 0;
    /* ele tira o contorno */
}

.line-footer1 form input[type=submit] {
    width: 80px;
    height: 40px;
    background: linear-gradient(90deg, #00f7ff, #0066ff);
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;

}

.line-footer1 form input[type=submit]:hover {
    color: #fff;
}


footer .line-footer2 {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    /* linha  */
    padding-bottom: 40px;
    /* altura da linha  */

}

footer .line-footer2 .box-line-footer {
    max-width: calc(100% / 5);
    /* ele calcula a as 5 partes iguais */
}

footer .box-line-footer img {
    max-width: 200px;
    margin-bottom: 10px;
}



.line-footer2 .box-line-footer h3 {
    color: #d0fdff;
    margin-bottom: 15px;
}

.line-footer2 .box-line-footer a {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 15px;   
}

.box-line-footer .btn-redes a {
    display: inline;
}

.box-line-footer .btn-redes button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* deixa em formato de circulo */
    font-size: 1.2rem;
    background-color: transparent;
    /* deixa o incone transparente */
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    transition: .2s;
}

.box-line-footer .btn-redes button:hover {
    background: linear-gradient(90deg, #00f7ff, #0066ff);
}

footer .line-footer3 {
    padding-top: 30px;
    text-align: center;  
}

.box-line-footer .links-footer a:hover{
    color: #0066ff;
}

    /* Resonsividade */


@media screen and (max-width: 600px) {
  header nav ul{
    display: none;
  }   

  .logo {
    font-family: "Orbitron", sans-serif;
    font-size: 27px;
    margin-left: 40px;
    font-weight: 900;  
    margin-top: 40px;  
    /* grossura da font */
    color: #00f7ff;
    text-shadow: 0 0 10px rgb(0, 247, 255, 0.5);
    /* deixa a letra esfumaçada */
}

.description{
    display: none;
}

.product-name {
    font-size: 2.3rem;
    font-family: "Orbitron", sans-serif;
    line-height: 1.1;
    /* tamanho da linha */
    margin-bottom: 20px;
}

.product-img {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.content {
    width: 55%;
    padding-right: 80px;   
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}


.indicaitors {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.line-footer1 h2 {
    font-size: 2.1rem;
    font-family: "Orbitron", sans-serif;
    color:#00f7ff;
}

.line-footer1 p {
    font-size: 1.2rem;
    margin: 10px 0 20px 0;
    /* margem encima e embaixo */
    color: #b8b8d0;
}

.line-footer1 form input[type=submit] {
    width: 70px;
    height: 40px;
    background: linear-gradient(90deg, #00f7ff, #0066ff);
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;

}

.line-footer1 form input[type=submit]:hover {
    color: #fff;
}

.line-footer2 .box-line-footer a {
   display: none; 
}

.line-footer2 .box-line-footer p {
   display: none; 
}



footer .box-line-footer img {
    margin-left: 100%;
    
}

.line-footer2 .box-line-footer h3, a {
   display: none; 
        
  }
footer .line-footer3 {
    padding-top: 30px;
    text-align: center;  
    font-size: 20px;  
}


} 